* {margin: 0;}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap; /* permet aux boutons de descendre sur petit écran */
  padding: 10px;
}

button {
  min-width: 80px;
  min-height: 40px;
  transition: all 0.3s ease;
}

/* Media query pour écrans très petits */
@media (max-width: 400px) {
  .container {
    flex-direction: column;
    gap: 8px;
  }

  button {
    width: 80%;
    font-size: 5vw;
    padding: 3vw 0;
  }
}
